<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KreasiDigital - Jasa Digital Kreatif</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- NAVBAR -->
    <header>
        <nav class="navbar">
            <div class="logo">Kreasi<span>Digital</span></div>

            <ul class="nav-menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#layanan">Layanan</a></li>
                <li><a href="#harga">Harga</a></li>
                <li><a href="#portofolio">Portofolio</a></li>
                <li><a href="#tentang">Tentang</a></li>
                <li><a href="#kontak">Kontak</a></li>
                <li><a href="pesan">pesan</a></li>
            </ul>
            
        </nav>
    </header>


    <!-- HERO -->
    <section id="home" class="hero">

        <div class="hero-text">
            <p class="small-title">DIGITAL CREATIVE SERVICE</p>

            <h1>
                Wujudkan Ide Kreatifmu
                <span>Secara Digital.</span>
            </h1>

            <p class="description">
                Kami menyediakan berbagai jasa digital seperti landing page, edit foto, edit video, desain CV, konten sosial media,
                QR code generator, desain grafis,
                Google Maps Integration, dan kebutuhan digital lainnya.
            </p>

            <div class="hero-buttons">
                <a href="#layanan" class="btn-primary">Lihat Layanan</a>
                <a href="#kontak" class="btn-secondary">Hubungi Kami</a>
            </div>
        </div>

        <div class="hero-card">
            <div class="card-icon">✦</div>
            <h2>Kreatif.</h2>
            <h2>Digital.</h2>
            <h2>Profesional.</h2>
            <p>Solusi digital untuk kebutuhanmu.</p>
        </div>

    </section>


    <!-- LAYANAN -->
    <section id="layanan" class="section">

        <div class="section-title">
            <p>APA YANG KAMI TAWARKAN?</p>
            <h2>Layanan Kami</h2>
        </div>

        <div class="service-container">

            <div class="service-card">
                <div class="service-icon">📷</div>
                <h3>Integrasi e-commerce</h3>
                <p>
                        Membantu mengintegrasikan usaha atau UMKM lokal ke dalam E-commerce, seperti ShopeeFood, GoFood, GrabFood, dan lainnya.
                </p>
            </div>

            <div class="service-card">
                <div class="service-icon">🎬</div>
                <h3>Pembuatan QR code untuk  UMKM</h3>
                <p>
                    Membuat QR code untuk kebutuhan UMKM,
                    seperti untuk pembayaran, informasi produk, dan lainnya.
                </p>
            </div>

            <div class="service-card">
                <div class="service-icon">🎨</div>
                <h3>Desain Grafis</h3>
                <p>
                    Poster, banner, logo, brosur,
                    dan berbagai kebutuhan desain.
                </p>
            </div>

            <div class="service-card">
                <div class="service-icon">📄</div>
                <h3>Landing Page</h3>
                <p>
                    Website landing page yang menarik dan responsif untuk membantu
                    meningkatkan konversi dan branding.
                </p>
            </div>

            <div class="service-card">
                <div class="service-icon">📱</div>
                <h3>Konten Sosial Media</h3>
                <p>
                    Membantu membuat desain konten untuk
                    Instagram, TikTok, dan platform lainnya.
                </p>
            </div>

            <div class="service-card">
                <div class="service-icon">🌐</div>
                <h3>Professional Website</h3>
                <p>
                    Pembuatan website sederhana untuk
                    bisnis, organisasi, maupun personal.
                </p>
            </div>

        </div>

    </section>


    <!-- HARGA -->
    <section id="harga" class="section price-section">

        <div class="section-title">
            <p>PAKET JASA</p>
            <h2>Harga Terjangkau</h2>
        </div>

        <div class="price-container">

            <div class="price-card">
                <h3>Basic</h3>
                <h2>Rp15K</h2>
                <p>1x Editing</p>
                <p>1x Revisi</p>
                <p>Estimasi 1–2 Hari</p>

                <a href="#kontak">Pesan Sekarang</a>
            </div>

            <div class="price-card popular">
                <div class="popular-label">POPULER</div>

                <h3>Standard</h3>
                <h2>Rp35K</h2>
                <p>3x Editing</p>
                <p>2x Revisi</p>
                <p>Estimasi 1–2 Hari</p>

                <a href="#kontak">Pesan Sekarang</a>
            </div>

            <div class="price-card">
                <h3>Premium</h3>
                <h2>Rp75K</h2>
                <p>5x Editing</p>
                <p>3x Revisi</p>
                <p>Prioritas Pengerjaan</p>

                <a href="#kontak">Pesan Sekarang</a>
            </div>

        </div>

    </section>

<!-- PORTOFOLIO -->

<section id="portofolio" class="section portfolio-section">

    <div class="section-title">
        <p>HASIL PEKERJAAN</p>
        <h2>Portofolio Kami</h2>
    </div>

    <div class="portfolio-container">

        <div class="portfolio-card">
            <div class="portfolio-image photo">
                <span>Generate QR COODE </span>
            </div>

            <div class="portfolio-info">
                <span class="portfolio-category">QR CODE</span>
                <h3>QR Code Generator</h3>
                <p>Membuat QR code untuk kebutuhan promosi dan informasi.</p>
            </div>
        </div>


        <div class="portfolio-card">
            <div class="portfolio-image video">
                <span>Design</span>
            </div>

            <div class="portfolio-info">
                <span class="portfolio-category">Design</span>
                <h3>Ads & E-Catalog Design</h3>
                <p>Desain iklan dan katalog digital untuk kebutuhan promosi.</p>
            </div>
        </div>


        <div class="portfolio-card">
            <div class="portfolio-image design">
                <span>ShopeeFood, GoFood Integration</span>
            </div>

            <div class="portfolio-info">
                <span class="portfolio-category">Integration</span>
                <h3>ShopeeFood, GoFood Integration</h3>
                <p>Jasa Integrasi dengan platform delivery makanan.</p>
            </div>
        </div>


        <div class="portfolio-card">
            <div class="portfolio-image cv">
                <span>Landing Page Design</span>
            </div>

            <div class="portfolio-info">
                <span class="portfolio-category">Landing Page</span>
                <h3>Landing Page Design</h3>
                <p>Desain landing page yang menarik dan efektif.</p>
            </div>
        </div>

    </div>

</section>

<!-- TESTIMONI -->

<section class="testimonials">

    <div class="section-title">
        <p>APA KATA MEREKA?</p>
        <h2>Testimoni Pelanggan</h2>
    </div>

    <div class="testimonial-container">

        <div class="testimonial-card">
            <div class="stars">★★★★★</div>

            <p>
                "Hasil Desainnya bagus, sesuai dengan
                yang saya inginkan. Prosesnya cepat."
            </p>

            <h4>Andi</h4>
            <span>Customer</span>
        </div>


        <div class="testimonial-card">
            <div class="stars">★★★★★</div>

            <p>
                "Desain posternya keren dan komunikasinya
                enak. Bisa request sesuai kebutuhan."
            </p>

            <h4>Rina</h4>
            <span>Customer</span>
        </div>


        <div class="testimonial-card">
            <div class="stars">★★★★★</div>

            <p>
                "landing page yang dibuat sangat menarik dan membantu meningkatkan konversi."
            </p>

            <h4>Fajar</h4>
            <span>Customer</span>
        </div>

    </div>

</section>


<!-- CARA KERJA -->
<section class="process">

    <div class="section-title">
        <p>MUDAH DAN PRAKTIS</p>
        <h2>Cara Kerja</h2>
    </div>

    <div class="process-container">

        <div class="process-card">
            <span>01</span>
            <h3>Konsultasi</h3>
            <p>
                Sampaikan kebutuhan dan konsep
                yang kamu inginkan.
            </p>
        </div>

        <div class="process-card">
            <span>02</span>
            <h3>Pengerjaan</h3>
            <p>
                Tim kami mulai mengerjakan
                pesanan sesuai brief.
            </p>
        </div>

        <div class="process-card">
            <span>03</span>
            <h3>Revisi</h3>
            <p>
                Kamu bisa memberikan revisi
                sesuai paket yang dipilih.
            </p>
        </div>

        <div class="process-card">
            <span>04</span>
            <h3>Selesai</h3>
            <p>
                File hasil akhir dikirim
                kepada pelanggan.
            </p>
        </div>

    </div>

</section>

    <!-- TENTANG -->
    <section id="tentang" class="about">

        <div class="about-text">
            <p class="small-title">TENTANG KAMI</p>

            <h2>
                Membantu Ide Menjadi
                Karya Digital.
            </h2>

            <p>
                BaraCode Studio adalah usaha jasa digital yang
                membantu pelanggan memenuhi berbagai kebutuhan
                kreatif secara praktis, terjangkau, dan mudah
                diakses.
            </p>

            <p>
                Kami mengutamakan kreativitas, komunikasi,
                dan kepuasan pelanggan dalam setiap pekerjaan.
            </p>
        </div>

        <div class="about-box">
            <h3>Kenapa Kami?</h3>

            <p>✓ Harga terjangkau</p>
            <p>✓ Proses mudah</p>
            <p>✓ Bisa request desain</p>
            <p>✓ Revisi tersedia</p>
            <p>✓ Cocok untuk personal & bisnis</p>
        </div>

    </section>

    <!-- PESANAN -->

<section id="pesan" class="order">

    <div class="section-title">
        <p>MULAI SEKARANG</p>
        <h2>Pesan Jasa</h2>
    </div>

    <div class="order-container">

        <div class="order-info">
            <h2>Butuh bantuan digital?</h2>

            <p>
                Isi form di samping dengan kebutuhanmu.
                Setelah itu kamu akan diarahkan ke WhatsApp
                untuk melanjutkan pesanan.
            </p>

            <div class="order-feature">
                ✓ Konsultasi terlebih dahulu
            </div>

            <div class="order-feature">
                ✓ Harga bisa disesuaikan
            </div>

            <div class="order-feature">
                ✓ Bisa request sesuai kebutuhan
            </div>
        </div>


        <div class="order-form">
        <form action="/pesan" method="post">
            <label>Nama</label>
            <input 
            type="text" 
            name="nama" 
            placeholder="Masukkan nama"required>

            <label>Pilih Jasa</label>

            <select name="jasa" required>

            <select id="jasa">
                <option value="Edit Foto">Paket Merchant Starter Kit</option>
                <option value="Edit Video">Edit Video</option>
                <option value="Desain Grafis">Desain Grafis</option>
                <option value="Desain CV">Desain CV</option>
                <option value="Konten Sosial Media">
                    Konten Sosial Media
                </option>
                <option value="Pembuatan Website">
                    Pembuatan Website
                </option>
            </select>

            <label>Deskripsi Kebutuhan</label>

            <textarea
                name="deskripsi"
                rows="5"
                placeholder="Jelaskan kebutuhan kamu..."
            ></textarea>

            <button type="submit">
                Kirim Pesanan
            </button>
        </form>
        </div>

    </div>

</section>

    <!-- KONTAK -->
    <section id="kontak" class="contact">

        <div class="section-title">
            <p>TERTARIK MENGGUNAKAN JASA KAMI?</p>
            <h2>Hubungi Kami</h2>
        </div>

        <p>
            Ceritakan kebutuhan digital kamu,
            dan kami akan membantu mewujudkannya.
        </p>

        <a href="https://wa.me/6282219364322" class="whatsapp">
            💬 Hubungi via WhatsApp
        </a>

    </section>


    <!-- FOOTER -->
    <footer>
        <h3>KreasiDigital</h3>
        <p>Solusi Kreatif untuk Kebutuhan Digitalmu.</p>
        <p>© 2026 KreasiDigital. All Rights Reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>